# Ignore virtual environments
myenv/
venv/
.env
.venv/
env/

# Ignore Python cache
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd

# Ignore training data
Data/

# Ignore the checkpoints of roberta model
custom_roberta_checkpoints/

# Ignore local database if you want a fresh one in Docker
wellness_assistant.db

# Ignore Git history
.git/
.gitignore

# Ignore logs
logs/

